@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-outfit: var(--font-outfit);
  --color-primary: #871B58;
}
:invalid {
  scroll-margin-top: 100px;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
}

/* Remove autocomplete highlight */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
  border-radius: inherit !important;
}
