@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-outfit: var(--font-outfit);
}

@layer base {
  body {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
}
